{%extends "main/base.html"%}

{%load static%}


{%block content%}


<h1>Forum home page</h1>
<div>
    <div class="border">
        <h2><a href="#">{{forum.title}}</a></h2>
        <small>{{forum.created_on}}</small>

    </div>

    <br>

    {% for reply in reply_list %}
    <div class="border border-rounded">
        <small>{{reply.created_on}}</small>
        
        <div> {{reply.reply_text | safe}}</div>
        <small>{{reply.created_by}}</small>
    </div>

    {% endfor %}

    <form method="post" action="#" class="">
        {% csrf_token %}
        <div>
            {{form.media}} 
            {{form.as_p}} 
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add Blog</button>
    </form> 

</div>

<script>

    
</script>

{%endblock content%}