{%extends "main/base.html"%}

{%load static%}

{%block content%}


<h1 class=" mx-4">Blog Home </h1>


<div class="d-flex justify-content-end">
    {%if user.is_staff%}
    <a class="nav-item nav-link links " href="{% url 'add_blog'%}">Add Blogs</a>
    {%endif%}
</div>

<div class="row">
{%for post in posts%}
   
    <div class="card col-10 my-4 mx-4">
        <div class="card-body">
            <h5 class="card-title"> <a href="{%url 'blog_detail' post.id%}"> {{post.title}} </a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.title}}</h6>
            <p class="card-text">{{post.small_content | safe}}</p>
        </div>
    </div>
    {%endfor%}
</div>

<script>
    // console.log('Hellow world');
    </script>

{%endblock content%}


