{%extends "main/base.html"%}

{%load static%}

{% block headimage %}
<div class="container "><img class="head-image" src="{%static 'main\images\socratesa_death_edited.jpg'%}" alt="No image" width=100%> </div>
{%endblock headimage%}

{%block content%}



<article class="media content-section">
    <div class="media-body">
        <h2>Email : tatvaparna@gmail.com</h2>
        
        
        <form class="container" method="post" action="{% url 'contactus'%}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p> <button type="submit" class="btn btn-primary    ">Submit</button></p>

        </form> 
        

    </div>
</article>


{%if is_paginated%}
    {%if page_obj.has_previous%}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">previous</a>
    {%endif%}



    {%if page_obj.has_next%}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {%endif%}

    {%endif%}

    {%endblock content%}