{%extends "main/base.html"%}

{%load static%}


{%block content%}



<div  style="background-image: url({%static 'main\images\phil-header.jpg'%});" class="suvichar text-light text-center">
    <p class="" style="vertical-align: middle;">
        {{today_thought.suvichar }}
        
    </p>
  <p class="" style="vertical-align: end;"> -{{today_thought.author }}</p> 
</div>
<div class="row  justify-content-between px-2 ">
    {%for blog in blogs%}

    <div class=" card my-2 col-xs-12 col-md-6 ">
        <div class="card-body ">
            <h5 class="card-title ">{{blog.title}}</h5>
            <h6 class="card-subtitle ">Card subtitle</h6>
            <p class="card-text"> {{blog.small_content | safe}}</p>


        </div>
    </div>
    {%endfor%}
</div>
{%endblock content%}